<% layout('layouts/boilerplate') %>
<%- include('../../partials/flash') %> 

<div class = "container d-flex vh-100 w-100 justify-content-center">
    <div class="row">

        <div class="col">

            <div class="card rounded mt-5 shadow" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1564502983896-638a21bd1e2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="card-img-top rounded" alt="...">
        
                <div class="card-body">
                 
                    <form class = "form-validation w-100 " action="/register/login" method = "POST" novalidate>
                        <h5 class="mb-3">Login</h5>
                        <input class = "form-control mb-3" type="text" name="username"  autofocus placeholder="Username" required>
                        <input class = "form-control mb-3" type="password" name="password"  placeholder="Password" required>
                        <button class = "btn btn-primary mt-2 w-100 rounded-pill float-end">Login</button>
                    </form>    
                </div>
              </div>
        </div>
    </div>
    
</div>


