<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaribbeanScape</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> -->
    


</head>
<body>
    <%- include('../../partials/navbar') %> 

    <main class ="vw-100" style="background-color: aliceblue; min-width: 100vw; min-height: 100vh;">       
        <%- body %> 
    </main>
</body>


<footer class = "footer bg-dark">

    <span class = "fs-6 text-muted ps-5 pt-3">CaribbeanScape 2021</span>

</footer>

<script>
    window.onload = function () { 
       const elem = document.querySelectorAll('.spinnerContainer');
       for(let e of elem)      
           e.parentNode.removeChild(e);
          
   }
</script>
<script src="/scripts/validateForms.js"></script> 

</html>